webheroes.duckdns.org:9027 {
    reverse_proxy web_heroes_server:5000
    encode gzip
    tls {
        dns duckdns {env.DUCKDNS_TOKEN}
    }
    log {
        output file /var/log/caddy/caddy.log
        format console
    }
}

localhost:80 {
    reverse_proxy web_heroes_server:5000
    encode gzip
    log {
        output file /var/log/caddy/caddy.log
        format console
    }
}
