services:
  caddy:
    image: caddy:2
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - web_heroes_server

  web_heroes_server:
    build:
      context: ./src/WebHeroes
      dockerfile: ./Dockerfile
      args:
        no_run: "true"
    expose:
      - "5000"
    depends_on:
      - web_heroes_database
    command: bash -c "python ./main.py"
    volumes:
      - ./src/BaseMods:/app/BaseMods
  web_heroes_database:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "password"
      MYSQL_DATABASE: "WebHeroes"
    volumes:
      - web_heroes_db_data:/var/lib/mysql
volumes:
  web_heroes_db_data:
  caddy_data:
  caddy_config:
