<!doctype html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="description" content="heroes online">
		<meta name="author" content="Rožle Lipej">
		<meta name="keywords" content="Heroes,Online">
	</head>

	<body>
		
		<table border="1" style="width:15%;float:left">
			<thead>
				<tr>
					<td id="nameDisplay">bos</td>
					<td rowspan="2"><img src="https://www.google.com/search?sca_esv=711f59ee6954731e&rlz=1C1GCEA_enSI1114SI1114&q=img&udm=2&fbs=AEQNm0AIx7nIZTsVA3WcUAKGOWedqUmgl8y2FrYmW4Bi0F9PMc0Jdvnw8hHt7wRdK2tATAmPPPpTWnvMlwd5PsZk3CrJDvE32lruaFgO9LT3mhYlFWbNJ4DQPbDxoSKLMz9nUCIwa_l7xj-1PmBz7iM2XiO4zunXeb5VF5NTzOgWi4Wt9bj8mV4&sa=X&ved=2ahUKEwiDjNOZzJqKAxWtlP0HHTaoG3YQtKgLegQIIRAB&biw=1920&bih=945&dpr=1#vhid=hJPoPb9YPajvXM&vssid=mosaic"></td>
				</tr>
				<tr>
					<td id="ratingDisplay">rating:</td>
				</tr>
			</thead>
		</table>
		
		<table style="width:70%;float:left">
			<thead>
				<tr>
					<td>reklama spot</td>
				</tr>
			</thead>
		</table>
		
		<table style="width:15%;float:left">
			<thead>
				<tr>
					<td><button>BACK</button></td>
				</tr>
				<tr>
					<td><button>PROFIl</button></td>
				</tr>
			</thead>
		</table>
		
		<img id="pfp-display"></img>
		
		<table border="1" style="width:45%;float:left">
			<thead id="lobbies">
				<tr>
					<td>*</td><!--save icon probabily-->
					<td>HOST NAME</td>
					<td>&nbsp;</td> <!--is comp-->
					<td>GAME DESCRIPTION</td>
					<td>#</td> <!--PLAYER COUNT-->
					<td>&nbsp;</td> <!--is competitive-->
					<td>&nbsp;</td> <!--has password-->
				</tr>
			</thead>
			
			<tbody>
				<!--empty for now-->
			</tbody>
			
		</table>
		
		<table border="1" style="width:40%;float:left">
			<thead>
				<tr>
					<td>CHAT ICON</td>
					<td>CHAT ROOM</td>
				</tr>
			</thead>
			
			<tbody>
				<!--empty for now-->
			</tbody>
		</table>
		
		<table border="1" style="width:15%;float:left">
			<thead>
				<tr>
					<td>PLAYERS ONLINE</td>
				</tr>
			</thead>
			
			<tbody>
				<!--empty for now-->
			</tbody>
		</table>
		
		<table style="width:50%;float:left">
			<tfoot>
				<tr>
					<td><button>NEW GAME</button></td>
					<td><button>LOAD GAME</button></td>
					<td><button>JOIN</button></td>
				</tr>
			</tfoot>
		</table>
		
		<table style="width:50%;float:left">
			<tfoot>
				<tr>
					<td><input type="text" placeholder="-"></td>
					<td><button>SEND</button></td>
				</tr>
			</tfoot>
		</table>
	</body>

</html>