<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catan</title>
    <link rel="stylesheet" type="text/css" href="../static/css/game.css" />
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Catan Board</h1>
    <div id="board-container">
    <svg id="board-svg"></svg>
    </div>
    <div class="controls">
    <button id="btn-toggle-numbers">Toggle Numbers</button>
    <button id="btn-toggle-outer">Toggle Ocean</button>
    </div>
    <div id="legend"></div>
    <div class="tooltip" id="tooltip"></div>
    

    <script src="../static/js/game.js"></script>
</body>
</html>