<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lobby</title>
  <link rel="stylesheet" type="text/css" href="../static/css/lobby.css" />
  <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
</head>
<body>

  <div class="card">
    <h1>Lobby: <span id="lobbyName">...</span></h1>

    <div class="row"><b>Owner:</b> <span id="lobbyOwner">...</span></div>

    <div class="row">
      <b>Players joined:</b>
      <ul id="playersList"></ul>
      <div id="status" class="muted" style="margin-top:8px;"></div>
    </div>

    <div class="row" style="margin-top: 14px;">
      <button id="startBtn">Start</button>
    </div>
  </div>

  <script src="../static/js/lobby.js"></script>
</body>
</html>
