
<!doctype html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="description" content="heroes online">
		<meta name="author" content="Rožle Lipej">
		<meta name="keywords" content="Heroes,Online">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/lobbies.css" />
	</head>

	<body>
		
		<table border="1" style="width:15%;float:left">
			<thead>
				<tr>
					<td id="nameDisplay">bos</td>
					<td rowspan="2"><img id="pfp-display" src="https://cdn.discordapp.com/embed/avatars/1.png" width="100em" height="100em"></td>
				</tr>
				<tr>
					<td id="ratingDisplay">rating:</td>
				</tr>
			</thead>
		</table>
		
		<table style="width:70%;float:left">
			<thead>
				<tr>
					<td>reklama spot</td>
				</tr>
			</thead>
		</table>
		
		<table style="width:15%;float:left">
			<thead>
				<tr>
					<td><button>BACK</button></td>
				</tr>
				<tr>
					<td><button>PROFIl</button></td>
				</tr>
			</thead>
		</table>
		
		<img></img>
		
		<table border="1" id="bot">
			<thead id="lobbies">
				<tr>
					<td>*</td><!--save icon probabily-->
					<td>HOST NAME</td>
					<td>&nbsp;</td> <!--is comp-->
					<td>GAME DESCRIPTION</td>
					<td>#</td> <!--PLAYER COUNT-->
					<td>&nbsp;</td> <!--is competitive-->
					<td>&nbsp;</td> <!--has password-->
				</tr>
			</thead>
			
			<tbody>
				<!--empty for now-->
			</tbody>
			
		</table>
		
		<table border="1" id="bot2">
			<thead>
				<tr>
					<td>CHAT ICON</td>
					<td>CHAT ROOM</td>
				</tr>
			</thead>
			
			<tbody>
				<!--empty for now-->
			</tbody>
		</table>
		
		<table border="1" id="bot3">
			<thead>
				<tr>
					<td>PLAYERS ONLINE</td>
				</tr>
			</thead>
			
			<tbody>
				<!--empty for now-->
			</tbody>
		</table>
		
		<div id="buttons">
			<button id="newGame">NEW GAME</button>
			<button id="loadGame">LOAD GAME</button>
			<button id="join">JOIN</button>
		</div>

		

		<input type="text" placeholder="-" id="message">
		<button id="send">SEND</button>


		<script src="/WebHeroes/staticp.js"></script>

		<script type="text/javascript" charset="utf-8">
			(function init() {
				var socket = io()

				socket.on("connect", () => {
    				console.log("Connected to server!");
				});

				socket.on("get-lobby-data", function(payload) {
					console.log(payload)
				})

				socket.on("lobby-update", function(payload) {
					console.log(payload)
				})

				socket.on("create-lobby", function(payload) {
					console.log(payload)
				})

				socket.emit("get-lobby-data");

				socket.emit("create-lobby", "test-lobby");
			})()
		</script>

	</body>

</html>
